<h1>New game</h1>
<div class="row row-cols-auto gx-3"><% @letters.each do |letter| %>
  <h3 class="card col bg-primary text-white bg-opacity-75"><%= letter %></h3>
<% end %></div>

<form action="/score" data-turbo="false" class="mb-3 mt-3" method="post">
  <label for="answer" class="form-label">What is the longest word you can find?</label>
  <input type="text" id="answer" name="answer" class="form-control">
  <input type="submit" value="Play" class="btn btn-primary">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% array = @letters.join(", ") %>
  <input id="array" name="array" type="hidden" value="<%= array %>">
</form>
